.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my_image {
  height: 15rem;
  border-radius: 50%;
  position: relative;
  background-clip: padding-box;
  border: 4px solid transparent;
}
.image::after {
  background: linear-gradient(red, blue);
  position: absolute;
  top: 0;
  left: 0;
  height: 15rem;
  content: "";
  z-index: 3;
}
.image {
  transition: All 0.5s ease-in;
  position: relative;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  border-top-left-radius: 45%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
}

.intro_info {
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 3rem;
  text-align: left;
}

.intro {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}

.twitter {
  text-decoration: none;
  color: blue;
}

.skills_icons {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  grid-column-gap: 1rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.skills_icon:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  height: 96px;
  text-align: center;
  line-height: 96px;
  margin: auto;
}

.skills_icon > img {
  height: 96px;
}
.timeline {
  font-family: "Montserrat", sans-serif;
}
.timeline::before {
  background: #bebebe;
}
.headings {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-left: 10rem;
  margin-right: 15rem;
  font-size: 1.75rem;
}

.work_exp {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.flip-card-front > img {
  height: 96px;
}

.duration {
  color: grey;
  font-weight: 400;
}

.work_exp_div {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.work_exp_list > li {
  margin: 1rem auto;
}

.project_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat", sans-serif;
}
.project_div > div {
  margin: 1rem;
}

.project_div > div > h4 {
  font-weight: 200;
}

.project_video {
  height: 600;
}

.links {
  text-decoration: none;
  color: black;
}

.education {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education > div {
  background-color: #f0f0f0;
  margin: 1rem;
  padding: 1rem;
}
.education > div:hover {
  transform: scale(1.02);
}

.contact_div {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}
.contact_div > div {
  padding: 1rem;
}

.input_field {
  width: 70%;
  height: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border: none;
}
input:focus {
  outline: none;
}
input {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
}
.contact_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.message {
  min-width: 70%;
  max-width: 70%;
  min-height: 3rem;
  margin: 0.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  background-color: #f0f0f0;
  border: none;
}
.message:focus {
  border: none;
  outline: none;
}

.button_submit {
  width: 10rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c98f0;
  color: white;
  border: none;
  height: 2rem;
  outline: none;
  margin: 0.5rem;
}
.button_submit:hover {
  cursor: pointer;
}

.form {
  text-align: left;
}

.intro_head {
  font-weight: 700;
  text-align: left;
  font-size: 1.5rem;
  margin-left: 0;
}

.navbar {
  z-index: 1000;
  display: flex;
  justify-content: start;
  align-items: center;

  position: fixed;
  top: 20;
}

.menu-bars {
  margin-left: 1rem;
  background: #060b26;
  padding: 0.7rem 1rem;
  padding-top: 0.9rem;
  border-radius: 50%;
}

.menu-bars1 {
  margin-left: 2rem;
  font-size: 2rem;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 150vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

span {
  margin-left: 16px;
}

.navbar {
  display: none;
}

.resume {
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c98f0;
  color: white;
  border: none;
  height: 2rem;
  outline: none;
  margin: 0.5rem;
  border-radius: 3px;
  margin-top: 2rem;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  transition: all 0.5s;
}

.resume:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.resume2 {
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c98f0;
  color: white;
  border: none;
  height: 2.2rem;
  outline: none;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 3px;
  margin-top: 1rem;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  transition: all 0.5s;
}

.resume2:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.resume1 {
  width: 4rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c98f0;
  color: white;
  border: none;
  height: 2.2rem;
  outline: none;
  margin: 0.5rem;
  margin-bottom: 0;
  border-radius: 3px;
  margin-top: 1rem;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  transition: all 0.5s;
}

.resume1:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.nav_head {
  font-size: 1.5rem;
  margin-left: 3rem;
}
.nav_hide {
  width: 100%;
}
.duration_work {
  margin: 0;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 550px;
  column-gap: 2rem;
  margin-left: 1rem;
  row-gap: 1.5rem;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.project_desc {
  font-weight: 300;
  padding: 0.3rem 0rem;
  margin-bottom: 0;
}

.social_icons {
  height: 32px;
  margin: 0.3rem;
  transition: all 0.5s;
}
.social_icons:hover {
  transform: translateY(-2px);
}
.social_icons:hover {
  box-shadow: 0 2px 35px hsla(0, 0%, 0%, 0.2);
}

.project_disc_internal {
  text-align: left;
  margin: auto;
  width: 90%;
  border-radius: 2%;
  padding: 10px;
}
.project_disc_internal h2 {
  margin: 0.3rem auto;
  margin-bottom: 0;
}

.project_css {
  border: 4px solid transparent;
  border-radius: 50px;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);

  border-image-slice: 1;
}
a {
  color: white;
  text-decoration: none;
}
