.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my_image {
  height: 20rem;
  border-radius: 20%;
  box-shadow: 3px 3px 3px 4px #888888;
}
.image {
  transition: All 0.5s ease-in;
}

.image:hover {
  transform: scale(1.05);
}

.intro_info {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 1rem;
}

.intro {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}

.twitter {
  text-decoration: none;
  color: blue;
}

.skills_icon:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.skills_icons {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 1rem;
}

.headings {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-left: 10rem;
  margin-right: 15rem;
}

.work_exp {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.duration {
  color: grey;
  font-weight: 400;
}

.work_exp_div {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.work_exp_list > li {
  margin: 1rem auto;
}

.project_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat", sans-serif;
}
.project_div > div {
  margin: 1rem;
}

.project_div > div > h4 {
  font-weight: 200;
}

.project_video {
  height: 600;
}

.links {
  text-decoration: none;
  color: black;
}

.education {
  font-family: "Montserrat", sans-serif;
  text-align: left;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education > div {
  background-color: #d3d3d3;
  margin: 1rem;
  padding: 1rem;
}
.education > div:hover {
  transform: scale(1.02);
}

.contact_div {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem;
}
.contact_div > div {
  padding: 1rem;
}

.input_field {
  width: 70%;
  height: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border: none;
}
input:focus {
  outline: none;
}
input {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
}
.contact_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.message {
  min-width: 70%;
  max-width: 70%;
  min-height: 3rem;
  margin: 0.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  background-color: #f0f0f0;
  border: none;
}

.button_submit {
  width: 10rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c98f0;
  color: white;
  border: none;
  height: 2rem;
  outline: none;
}
